<html data-find="_5" xmlns="http://www.w3.org/1999/xhtml"><head>
<title>Outliers</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-type">
<link media="all" type="text/css" href="css/style.css" rel="stylesheet">
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<!--[if IE]><style type="text/css" media="screen"> #navigation ul li a em { top:32px; } </style><![endif]-->
<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
<!--<script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>-->
<script type="text/javascript" src="js/jquery-func.js"></script>
</head>
<body data-find="_4">
<!-- Header -->
<div id="header">
  <div class="shell">
    <!-- Logo -->
    <h1 id="logo"><a href="#">Herb Project</a></h1>
    <!-- End Logo -->
    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="#">Proyectos<span><em></em></span></a></li>
        <li><a href="#">Cuenta<span><em></em></span></a></li>
        <li class="last"><a href="#">Salir<span><em></em></span></a></li>
      </ul>
    </div>
    <!-- End Navigation -->
  </div>
</div>
<!-- End Header -->
<!-- Slider -->
<div id="slider">
  
</div>
<!-- End Slider -->
<!-- Slider Nav -->

<!-- End Slider Nav -->
<!-- Main -->

<!-- End Main -->
<!-- Footer -->
<div id="footer">
  <div class="shell">
    <!-- Footer Logo -->
    <a class="notext footer-logo" href="#">Company Name</a>
    <!-- End Footer -->
    <!-- Footer Nav -->
    <div class="right">
      <p> <a href="#">Home</a> <span>|</span> <a href="#">About</a> <span>|</span> <a href="#">Services</a> <span>|</span> <a href="#">Clients</a> <span>|</span> <a href="#">Contact</a> </p>
      <p>&copy; Sitename.com. Design by <a href="http://chocotemplates.com">Chocotemplates.com</a></p>
    </div>
    <!-- End Footer Nav -->
  </div>
</div>
<!-- End Footer -->


</body></html>